*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

.clearfix:after{
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

html{
  font-family: Microsoft Yahei;
  font-size: 16px;
  background-color: #fff;
}

header{
  background-color: #ccc;
  height: 40px;
  line-height: 40px;
  color: #fff;
}

header a{
  float: left;
  color: #fff;
  margin-left: 1em;
}

header h1{
  float: right;
  font-size: 1.2rem;
  margin-right: calc(50% - 2em);
}

nav ul li{
  width: calc(100% / 5 );
  text-align: center;
  float: left;
  margin: 0
}
nav ul li a{
  display: block;
  padding: 0.5rem 0;
  color: #000;
  border-bottom: 3px solid transparent;
}
nav ul li a:hover{
  border-bottom: 3px solid blue;
}
