*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  font-size: 1rem;
}

.clearfix:after{
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

html{
  font-family: Microsoft Yahei;
  font-size: 16px;
}

body{
  background-color: #ccc;
}

.nav-bar,
.columns,
.moudle,
.labels,
.article{
  background-color: #fff;
}
.header{
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #00f3ff;
}

.header h1{
  float: right;
  width: 50%;
  margin-right: 2rem;
}

.goback{
  color: #fff;
  margin-left: 1rem;
}

.nav-bar{
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.nav-bar li{
  float: left;
  width: 20%;
}

.nav-bar a{
  color: #000;
  display: block;
  border-bottom: 2px solid transparent;
}

.nav-bar a:hover{
  border-bottom: 2px solid #00f3ff;
}

.banner img{
  width: 100%;
}

.labels{
  padding: 1rem 0;
  margin-top: -3px;
}

.labels li{
  float: left;
  width: 20%;
  text-align: center;
}

.labels img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.labels a{
  display: block;
}

.columns{
  text-align: center;
  padding: 1rem;
  border-top: 2px solid #ccc;
}

.column{
  float: left;
  width: 33.33333%;
  border-right: 2px solid #ccc;
}

.moudle{
  margin: 0.5rem 0;
  padding: 1rem;
}

.moudle h2{
  font-size: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
}

.schemes img,
.schemes p{
  width: 30%;
  float: left;
  text-align: center;
}

.schemes p{
  background-color: #ccc;
  margin-left: 5%;
}

p.top{
  margin-bottom: 5%;
}

.first-row{
  margin-bottom: 0.5rem;
}

.article{
  padding: 0.5rem 1rem;
  margin: 0.1rem 0;
}

.article h3{
  font-size: 1.375rem;
}

.article p{
  color: silver;
}

.article img{
  float: left;
  width: 30%;
}

.article-info{
  margin-left: 35%;
}

.right-pic{
  margin-left: 5%;
}